{% extends "base.html" %}
{% import "_lib.html" as lib %}

{% block title %}Archive / {{ SITENAME }}{% endblock %}

{% block content %}
    <section class="archives">
        <h1>Archive</h1>

        {% for article in articles %}

            <article>
                <h2{% if article.category %} class="category-{{ article.category.slug }}"{% endif %}>
                    &mdash;
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        {{ article.title | striptags }}
                    </a>
                </h2>
            </article>
        {% endfor %}
    </section>
{% endblock %}
