<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tech Babble</title>
        <meta name="author" content="amazingant" />
        <link
            href="/theme/css/all.css"
            media="screen, projection"
            rel="stylesheet"
            type="text/css"
            />
        <style type="text/css">
            body {
                max-width: 750px;
            }
            html {
                background: dimgray;
            }
        </style>
    </head>
    <body>
        <section class="home-desc">
            <p>
                This site formerly contained a few blog posts and links to my social media accounts. The blog posts remain available <a href="/blog/">here</a>, but the rest of the site has been removed.
            </p>
        </section>
    </body>
</html>